@tailwind utilities;

:root {
    --text-color: white;
    --gradient-color: black;
}

.theme-dark {
    --text-color: white;
    --gradient-color: #2a2a2a;
}

.theme-light {
    --text-color: #2a2a2a;
    --gradient-color: white;
}

html, body, #root {
    background-color: var(--gradient-color);
    text-align: center;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: xx-large;
}

p {
    margin: 0;
}

* {
    -webkit-user-drag: none;
    user-select: none;
    font-size: max(2.4vh, 20px);
    color: var(--text-color);
}